{
  "timer_wait": 60.0,
  "trace_level" : "INFO",
  "channels" : 
  {
      "air_channel" : { "channel_id" : 406541, "read_api_key" : "G1RCAFSJRAVA3WBW" }
      "water_channel" : { "channel_id" : 398939, "read_api_key" : "RX6KEENEBPKDVN9L" }
  },
  "data" :
  {
    "out_temp" : { "channel" : "air_channel", "field_id" : 3, "type" : "FLOAT" },
    "in_temp"  : { "channel" : "air_channel", "field_id" : 1, "type" : "FLOAT" },
    "boiler_temp"  : { "channel" : "water_channel", "field_id" : 2, "type" : "FLOAT" }
  } ,
  "display" :
  [
   {"x": 10, "y": 10,  "font": 6, "text" : "Out Temp:    %05.2f", "value" : "out_temp"},
   {"x": 10, "y": 70,  "font": 6, "text" : "In Temp:     %05.2f", "value" : "in_temp"},
   {"x": 10, "y": 130, "font": 6, "text" : "Boiler Temp: %05.2f", "value" : "boiler_temp"}
  ]
}

