{
  "timer_wait": 60.0,
  "trace_level" : "INFO",
  "data" :
  {
    "out_temp" : { "source" : "THINGSPEAK", "channel_id" : "406541", "read_api_key" : "G1RCAFSJRAVA3WBW", "field_id" : 3, "type" : "FLOAT" },
    "in_temp"  : { "source" : "THINGSPEAK", "channel_id" : "406541", "read_api_key" : "G1RCAFSJRAVA3WBW", "field_id" : 1, "type" : "FLOAT" },
    "boiler_temp"  : { "source" : "THINGSPEAK", "channel_id" : "398939", "read_api_key" : "RX6KEENEBPKDVN9L", "field_id" : 2, "type" : "FLOAT" },
    "time"  : { "source" : "TIME", "format" : "%H:%M",   "type" : "STRING" }
  }
}

