{
  "timer_wait": 60.0,
  "trace_level" : "INFO",
  "output" : "CONSOLE",
  "data" :
  {
    "out_temp" : { "source" : "THINGSPEAK", "channel_id" : "406541", "read_api_key" : "G1RCAFSJRAVA3WBW", "field_id" : 3, "type" : "FLOAT" },
    "in_temp"  : { "source" : "THINGSPEAK", "channel_id" : "406541", "read_api_key" : "G1RCAFSJRAVA3WBW", "field_id" : 1, "type" : "FLOAT" },
    "boiler_temp"  : { "source" : "THINGSPEAK", "channel_id" : "398939", "read_api_key" : "RX6KEENEBPKDVN9L", "field_id" : 2, "type" : "FLOAT" },
    "time"  : { "source" : "TIME", "format" : "%H:%M",   "type" : "STRING" }
  } ,
  "display" :
  [
   {"x": 10, "y": 10,  "font": 6, "text" : "Out Temp:    %05.2f", "value" : "out_temp"},
   {"x": 10, "y": 70,  "font": 6, "text" : "In Temp:     %05.2f", "value" : "in_temp"},
   {"x": 10, "y": 130, "font": 6, "text" : "Boiler Temp: %05.2f", "value" : "boiler_temp"}
   {"x": 10, "y": 180, "font": 6, "text" : "Time: %05.2f", "value" : "time"}
  ]
}

